// Helvetica Neue webfont
@font-face {
    font-family: 'HelveticaNeue';
    src: url('../fonts/HelveticaNeue/HelveticaNeue.eot');
    src: url('../fonts/HelveticaNeue/HelveticaNeue.eot?#iefix') format('embedded-opentype'),
         url('../fonts/HelveticaNeue/HelveticaNeue.woff2') format('woff2'),
         url('../fonts/HelveticaNeue/HelveticaNeue.woff') format('woff'),
         url('../fonts/HelveticaNeue/HelveticaNeue.ttf') format('truetype'),
         url('../fonts/HelveticaNeue/HelveticaNeue.svg#geometria_mediummedium') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('../fonts/HelveticaNeue/HelveticaNeue-Bold.eot');
    src: url('../fonts/HelveticaNeue/HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/HelveticaNeue/HelveticaNeue-Bold.woff2') format('woff2'),
         url('../fonts/HelveticaNeue/HelveticaNeue-Bold.woff') format('woff'),
         url('../fonts/HelveticaNeue/HelveticaNeue-Bold.ttf') format('truetype'),
         url('../fonts/HelveticaNeue/HelveticaNeue-Bold.svg#geometria_mediummedium') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('../fonts/HelveticaNeue/HelveticaNeue-Medium.eot');
    src: url('../fonts/HelveticaNeue/HelveticaNeue-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/HelveticaNeue/HelveticaNeue-Medium.woff2') format('woff2'),
         url('../fonts/HelveticaNeue/HelveticaNeue-Medium.woff') format('woff'),
         url('../fonts/HelveticaNeue/HelveticaNeue-Medium.ttf') format('truetype'),
         url('../fonts/HelveticaNeue/HelveticaNeue-Medium.svg#geometria_mediummedium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('../fonts/HelveticaNeue/HelveticaNeue-Thin.eot');
    src: url('../fonts/HelveticaNeue/HelveticaNeue-Thin.eot?#iefix') format('embedded-opentype'),
         url('../fonts/HelveticaNeue/HelveticaNeue-Thin.woff2') format('woff2'),
         url('../fonts/HelveticaNeue/HelveticaNeue-Thin.woff') format('woff'),
         url('../fonts/HelveticaNeue/HelveticaNeue-Thin.ttf') format('truetype'),
         url('../fonts/HelveticaNeue/HelveticaNeue-Thin.svg#geometria_mediummedium') format('svg');
    font-weight: 100;
    font-style: normal;
}

// Helvetica CY webfont

@font-face {
    font-family: 'HelveticaNeue';
    src: url('../fonts/HelveticaCY/HelveticaCYBold.eot');
    src: url('../fonts/HelveticaCY/HelveticaCYBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/HelveticaCY/HelveticaCYBold.woff2') format('woff2'),
         url('../fonts/HelveticaCY/HelveticaCYBold.woff') format('woff'),
         url('../fonts/HelveticaCY/HelveticaCYBold.ttf') format('truetype'),
         url('../fonts/HelveticaCY/HelveticaCYBold.svg#geometria_mediummedium') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('../fonts/HelveticaCY/HelveticaCYOblique.eot');
    src: url('../fonts/HelveticaCY/HelveticaCYOblique.eot?#iefix') format('embedded-opentype'),
         url('../fonts/HelveticaCY/HelveticaCYOblique.woff2') format('woff2'),
         url('../fonts/HelveticaCY/HelveticaCYOblique.woff') format('woff'),
         url('../fonts/HelveticaCY/HelveticaCYOblique.ttf') format('truetype'),
         url('../fonts/HelveticaCY/HelveticaCYOblique.svg#geometria_mediummedium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('../fonts/HelveticaCY/HelveticaCYPlain.eot');
    src: url('../fonts/HelveticaCY/HelveticaCYPlain.eot?#iefix') format('embedded-opentype'),
         url('../fonts/HelveticaCY/HelveticaCYPlain.woff2') format('woff2'),
         url('../fonts/HelveticaCY/HelveticaCYPlain.woff') format('woff'),
         url('../fonts/HelveticaCY/HelveticaCYPlain.ttf') format('truetype'),
         url('../fonts/HelveticaCY/HelveticaCYPlain.svg#geometria_mediummedium') format('svg');
    font-weight: 100;
    font-style: normal;
}