@headerTopHeight: 52px;
@headerBotHeight: 168px;

.main-header-top-wrap {

	height: @headerTopHeight;
	background: @clr-gray;

}

.main-header-top {
	width: 1190px;
	height: @headerTopHeight;
	margin: 0 auto;	

	background: @clr-gray;
	
	.main-nav {
		float: left;
		font-family: 'din-condensed-web';
	}

	.nav-ul {
		.list-unstyled;

		border-left: 1px solid @clr-light-gray;
	}

	.nav-li {
		transition: all .4s ease;
		float: left;
		height: @headerTopHeight;
		border-right: 1px solid @clr-light-gray;
		
		font-size: 14px;
		line-height: @headerTopHeight;
		text-transform: uppercase;

		&.active {
			position: relative;

			&:after {
				content: '';
				position: absolute;
				bottom: 0;
				left: 50%;

				width: 0;
				height: 0;
				margin: 0 0 0 -6px;

				border-style: solid;
				border-width: 0 6px 6px 6px;
				border-color: transparent transparent #f1f1f1 transparent;
			}
			&:hover {
				background: inherit;
				cursor: default;

				a {
					cursor: default;
				}
			}
		}
		&:hover {
			background: lighten(@clr-gray, 15%);
		}

		a {
			display: block;
			height: 100%;
			padding: 0 18px;

			font-size: 16px;
			color: white;
			text-decoration: none;
			outline: none;
		}
	}

	.phone {
		float: left;

		line-height: @headerTopHeight;

		a {
			color: white;
			text-decoration: none;
		}
	}
}

.main-search {
	float: left;

	.main-search-form {
		position: relative;
		margin: 0 24px 0 0;
	}

	.main-search-input {
		width: 276px;
		height: 26px;
		padding: 0 5px;
		margin: (@headerTopHeight - 26px) / 2 0;
		border: none;
		background: @clr-lighter-gray;

		border-radius: 1px;
	}

	.main-search-submit {
		position: absolute;
		top: (@headerTopHeight - 26px) / 2;
		right: 0;

		width: 32px;
		height: 26px;
		margin: 0;
		padding: 0;
		
		border: none;
		border-radius: 1px;

		line-height: 26px;
		color: white;

		background: none;
	}
}

.main-header-bot-wrap {
	height: @headerBotHeight;
	background: @clr-darken-white;
}

.main-header-bot {
	width: 1190px;
	height: @headerTopHeight;
	margin: 0 auto;

	.subnav-ul {
		.list-unstyled;
	}

	.subnav-li {
		transition: all .4s ease;
		position: relative;
		float: left;
		width: 20.5%;
		padding: 0 2.5%;

		&.active {
			background: #fff;
			&:after {
				border-color: #fff;
				border-color: rgba(246,246,246, 1);
			}
			&:before {
				content: '';
				position: absolute;
				top: 0 !important;
				left: -1px;
				height: 100% !important;
				margin: 0 !important;
				border-right: 1px solid #fff !important;
				border-color: rgba(246,246,246, 1) !important;				
			}
		}

		&:hover {
			position: relative;
			background: #fff;
			background: rgba(246,246,246, 1);

			.subnav-li-desc {
				height: auto;
				padding-top: 1em;
				padding-bottom: 1em;
			}

			&:after {
				border-color: #fff;
				border-color: rgba(246,246,246, 1);
			}
			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: -1px;
				height: 100% !important;
				margin: 0;
				border-right: 1px solid #fff !important;
				border-color: rgba(246,246,246, 1) !important;				
			}
		}

		&:after {
			content: '';
			position: absolute;
			top: 50%;
			right: 0;
			height: 52px;
			border-right: 1px solid #b3b3b3;
			margin-top: -26px;			
		}

		&.logo-cont {
			width: 18%;
			padding: 0;

			&:hover {
				background: none;
				left: 0;
			}
			&:before {
				content: none;
			}
			&:after {
				content: none;
			}
		}

		&.tile {
			.subnav-li-top {
				background-image: url(../images/subnav/01.png);
			}
			&:before {
				content: '';
				position: absolute;
				top: 50%;
				left: 0;
				height: 52px;
				border-right: 1px solid #b3b3b3;
				margin-top: -26px;			
			}
		}
		&.stone {
			.subnav-li-top {
				background-image: url(../images/subnav/02.png);
				cursor: pointer;
			}
		}
		&.mosaic {
			.subnav-li-top {
				background-image: url(../images/subnav/03.png);
			}
		}
		&.materials {
			padding: 0 2.5% 0 2%;
			.subnav-li-top {
				background-image: url(../images/subnav/04.png);

				& > a {
					padding-left: 5rem;
				}

				&:before {
					left: 0;
				}			
			}
		}

		.subnav-li-top {
			position: relative;
			height: @headerBotHeight;
			padding-left: 5rem;

			background: no-repeat 4px center;

			font: 18px 'din-condensed-web';
			line-height: 15.6px;
			text-transform: uppercase;

			& > a {
				display: table;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				padding-left: 5rem;

				color: inherit;
				text-decoration: none;
				outline: none;

				& > span {
					display: table-cell;
					vertical-align: middle;
				}
			}
		}

		.subnav-li-desc {
			transition: all .4s ease;
			overflow: hidden;
			position: absolute;
			z-index: 2;
			top: 100%;
			left: 0;
			width: 100%;
			height: 0;

			padding: 0 30px 0 2.125rem;
			background: #fff;
			background: rgba(247,247,247, .9);

			.subnav-li-desc-text {
				margin: 28px 0 10px;
				font-size: 14px;
				line-height: 25px;
				a {
					.typical-link;
					display: inline;
				}
			}
			.subnav-li-desc-link {
				margin: 10px 0;
				a {
					.typical-link;
					display: inline;
					color: #000;
					border-color: transparent;
					outline: none;
				}
			}
		}
	}

	.logo {
		margin: 0;

		font-size: 24px;
		line-height: 22px;
		text-transform: uppercase;
		color: black;
		background: url(../images/logo.png) no-repeat 4px center;

		a {
			display: table-cell;
			vertical-align: middle;

			width: 212px;
			height: @headerBotHeight;
			padding: 0 0 0 68px;

			outline: none;
			text-decoration: none;
			color: inherit;
			text-indent: -9999px;
		}
	}
}