.fancybox-opened {

	.fancybox-title {
		position: absolute;
		bottom: 0;
		left: 0;

		width: 100%;
		height: 63px;
		padding: 0 0 0 26px;

		font: 100 24px/63px "HelveticaNeue", sans-serif;

		background: rgba(0, 0, 0, .5);
		color: #fff;
	}

	.fancybox-skin {
		border-radius: 0;
	}
}

.fancybox-nav {

	&.fancybox-prev {
		
		span {
			left: -96px;
			background: url(../images/icons/angle-left-thin.svg) no-repeat center center;
			background-size: auto 100%;
		}
	}
	&.fancybox-next {
		
		span {
			right: -96px;
			background: url(../images/icons/angle-right-thin.svg) no-repeat center center;
			background-size: auto 100%;
		}
	}
	span {
		transition: all .4s ease;
		visibility: visible;
		width: 50px;
		height: 50px;
		margin-top: -25px;
	}
}

.fancybox-close {
	width: 50px;
	height: 50px;
	top: 0;
	right: -96px;

	background: url(../images/icons/close-thin.svg) no-repeat center center;
}
.fancybox-overlay {
	background: rgba(0, 0, 0, 0.7);
}

.collFancybox {
	.fancybox-skin {
		background: none;
		box-shadow: none;
	}
	.fancybox-outer,
	.fancybox-inner {
		position: relative;
		right: 25%;
	}
	.fancybox-prev {
		left: -25%;
	}
	.fancybox-next {
	    right: -75%;
	}
	.fancybox-close {
		right: -70%;
	}
	&.fancybox-opened {
		.fancybox-title {
			top: 0;
			left: 50%;
			height: 100%;
			background: none;
			line-height: 3rem;

			color: rgba(255,255,255, .7);

			strong {
				font-weight: 300;
				color: #fff;
			}
		}
	}
}