<section class="articles">
	<div class="section-cont">
		<h2>
			Статьи
		</h2>
		<ul class="goods-ul clearfix">
			<li class="goods-li">
				<div class="goods-li-head" style="background-image:url(images/articles/01.jpg)">
					<a href="#"></a>
				</div>
				<div class="goods-li-body">
					<div class="goods-li-date">
						29/09/14
					</div>
					<div class="goods-li-text">
						КАК ВЫБРАТЬ КАМЕНЬ В ГОСТИНУЮ – СОВЕТЫ ИТАЛЬЯНСКИХ ДИЗАЙНЕРОВ
					</div>
				</div>
			</li>
			<li class="goods-li">
				<div class="goods-li-head" style="background-image:url(images/articles/02.jpg)">
					<a href="#"></a>
				</div>
				<div class="goods-li-body">
					<div class="goods-li-date">
						29/09/14
					</div>
					<div class="goods-li-text">
						СЕКРЕТЫ КЛАДКИ ПЛИТКИ ОТ ФРАНЦУЗСКИХ МАСТЕРОВ
					</div>
				</div>
			</li>
			<li class="goods-li">
				<div class="goods-li-head" style="background-image:url(images/articles/03.jpg)">
					<a href="#"></a>
				</div>
				<div class="goods-li-body">
					<div class="goods-li-date">
						29/09/14
					</div>
					<div class="goods-li-text">
						ВЫБРАТЬ КЛЕЙ – ЗАДАЧА НЕ ИЗ ПРОСТЫХ, НО НЕ СТОИТ ОПУСКАТЬ РУКИ
					</div>
				</div>
			</li>
			<li class="goods-li">
				<div class="goods-li-head" style="background-image:url(images/articles/04.jpg)">
					<a href="#"></a>
				</div>
				<div class="goods-li-body">
					<div class="goods-li-date">
						29/09/14
					</div>
					<div class="goods-li-text">
						ПОДОБРАТЬ ПЛИТКУ ПОД СВОЙ ИНТЕРЬЕР:  КАК ПРИБЛИЗИТЬ ФАНТАЗИИ К РЕАЛЬНОСТИ?
					</div>
				</div>
			</li>
			<li class="goods-li">
				<div class="goods-li-head" style="background-image:url(images/articles/05.jpg)">
					<a href="#"></a>
				</div>
				<div class="goods-li-body">
					<div class="goods-li-date">
						29/09/14
					</div>
					<div class="goods-li-text">
						ПРОВЕРКА ПЛИТКИ НА ПРОЧНОСТЬ
					</div>
				</div>
			</li>
			<li class="goods-li">
				<div class="goods-li-head" style="background-image:url(images/articles/06.jpg)">
					<a href="#"></a>
				</div>
				<div class="goods-li-body">
					<div class="goods-li-date">
						29/09/14
					</div>
					<div class="goods-li-text">
						РЕШАЮЩИЙ ФАКТОР В ВЫБОРЕ КЕРАМИЧЕСКОЙ ОБЛИЦОВКИ
					</div>
				</div>
			</li>
			<li class="goods-li">
				<div class="goods-li-head" style="background-image:url(images/articles/07.jpg)">
					<a href="#"></a>
				</div>
				<div class="goods-li-body">
					<div class="goods-li-date">
						29/09/14
					</div>
					<div class="goods-li-text">
						УЛИЧНАЯ ПЛИТКА, УСТРОЙСТВО КЛАДКИ: ОСОБЕННОСТИ и секреты
					</div>
				</div>
			</li>
			<li class="goods-li">
				<div class="goods-li-head" style="background-image:url(images/articles/08.jpg)">
					<a href="#"></a>
				</div>
				<div class="goods-li-body">
					<div class="goods-li-date">
						29/09/14
					</div>
					<div class="goods-li-text">
						ПЕРЕВОЗКА ПЛИТКИ: КАК НЕ УРОНИТЬ ТАКУЮ ТЯЖЕСТЬ?
					</div>
				</div>
			</li>
		</ul>
	</div>
</section>
