<section class="projects">
	<div class="section-cont">
		<h2>
			Реализованные проекты
		</h2>
		<ul class="goods-ul products-ul clearfix">
			<li class="goods-li">
				<div class="goods-li-head" style="background-image:url(images/projects/01.jpg)">
					<a href="#"></a>
				</div>
				<div class="goods-li-body">
					<div class="goods-li-text">
						ГОСТИНИЦА Raddison Doo CLUB
					</div>
					<div class="goods-li-product">
						<strong>Плитка:</strong> Серия Marmi (Pastorelli)
					</div>
					<div class="goods-li-brand" style="background-image:url(images/partners/01.png)">
						
					</div>
					<div class="goods-li-desc">
						Выполнено в теплых тонах по заказу Raddison специалистами салона «Плитка Мира»
					</div>
				</div>
			</li>
			<li class="goods-li">
				<div class="goods-li-head" style="background-image:url(images/projects/02.jpg)">
					<a href="#"></a>
				</div>
				<div class="goods-li-body">
					<div class="goods-li-text">
						ГОСТИНИЦА Raddison Doo CLUB
					</div>
					<div class="goods-li-product">
						<strong>Плитка:</strong> Серия Marmi (Pastorelli)
					</div>
					<div class="goods-li-brand" style="background-image:url(images/partners/02.png)">
						
					</div>
					<div class="goods-li-desc">
						Выполнено в теплых тонах по заказу Raddison специалистами салона «Плитка Мира»
					</div>
				</div>
			</li>
			<li class="goods-li">
				<div class="goods-li-head" style="background-image:url(images/projects/03.jpg)">
					<a href="#"></a>
				</div>
				<div class="goods-li-body">
					<div class="goods-li-text">
						ГОСТИНИЦА Raddison Doo CLUB
					</div>
					<div class="goods-li-product">
						<strong>Плитка:</strong> Серия Marmi (Pastorelli)
					</div>
					<div class="goods-li-brand" style="background-image:url(images/partners/03.png)">
						
					</div>
					<div class="goods-li-desc">
						Выполнено в теплых тонах по заказу Raddison специалистами салона «Плитка Мира»
					</div>
				</div>
			</li>
			<li class="goods-li">
				<div class="goods-li-head" style="background-image:url(images/projects/04.jpg)">
					<a href="#"></a>
				</div>
				<div class="goods-li-body">
					<div class="goods-li-text">
						ГОСТИНИЦА Raddison Doo CLUB
					</div>
					<div class="goods-li-product">
						<strong>Плитка:</strong> Серия Marmi (Pastorelli)
					</div>
					<div class="goods-li-brand" style="background-image:url(images/partners/04.png)">
						
					</div>
					<div class="goods-li-desc">
						Выполнено в теплых тонах по заказу Raddison специалистами салона «Плитка Мира»
					</div>
				</div>
			</li>
			<li class="goods-li">
				<div class="goods-li-head" style="background-image:url(images/projects/05.jpg)">
					<a href="#"></a>
				</div>
				<div class="goods-li-body">
					<div class="goods-li-text">
						ГОСТИНИЦА Raddison Doo CLUB
					</div>
					<div class="goods-li-product">
						<strong>Плитка:</strong> Серия Marmi (Pastorelli)
					</div>
					<div class="goods-li-brand" style="background-image:url(images/partners/05.png)">
						
					</div>
					<div class="goods-li-desc">
						Выполнено в теплых тонах по заказу Raddison специалистами салона «Плитка Мира»
					</div>
				</div>
			</li>
			<li class="goods-li">
				<div class="goods-li-head" style="background-image:url(images/projects/06.jpg)">
					<a href="#"></a>
				</div>
				<div class="goods-li-body">
					<div class="goods-li-text">
						ГОСТИНИЦА Raddison Doo CLUB
					</div>
					<div class="goods-li-product">
						<strong>Плитка:</strong> Серия Marmi (Pastorelli)
					</div>
					<div class="goods-li-brand" style="background-image:url(images/partners/06.png)">
						
					</div>
					<div class="goods-li-desc">
						Выполнено в теплых тонах по заказу Raddison специалистами салона «Плитка Мира»
					</div>
				</div>
			</li>
			<li class="goods-li">
				<div class="goods-li-head" style="background-image:url(images/projects/07.jpg)">
					<a href="#"></a>
				</div>
				<div class="goods-li-body">
					<div class="goods-li-text">
						ГОСТИНИЦА Raddison Doo CLUB
					</div>
					<div class="goods-li-product">
						<strong>Плитка:</strong> Серия Marmi (Pastorelli)
					</div>
					<div class="goods-li-brand" style="background-image:url(images/partners/07.png)">
						
					</div>
					<div class="goods-li-desc">
						Выполнено в теплых тонах по заказу Raddison специалистами салона «Плитка Мира»
					</div>
				</div>
			</li>
			<li class="goods-li">
				<div class="goods-li-head" style="background-image:url(images/projects/08.jpg)">
					<a href="#"></a>
				</div>
				<div class="goods-li-body">
					<div class="goods-li-text">
						ГОСТИНИЦА Raddison Doo CLUB
					</div>
					<div class="goods-li-product">
						<strong>Плитка:</strong> Серия Marmi (Pastorelli)
					</div>
					<div class="goods-li-brand" style="background-image:url(images/partners/08.png)">
						
					</div>
					<div class="goods-li-desc">
						Выполнено в теплых тонах по заказу Raddison специалистами салона «Плитка Мира»
					</div>
				</div>
			</li>
		</ul>
	</div>
</section>

<section class="separate-project">
	<div class="section-cont">
		<div ng-include="'views/partials/project.html'"></div>
	</div>
</section>

